@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    margin: auto;
    background:hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main {
    background:hsl(0,0%,100%);
    border-radius: 10px;
    width: 400px;
}
.box {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}
img {
    width: 100%;
    overflow: hidden;
    border-radius: 25px;

}
.txt h1 {
    font-family: 'Outfit', sans-serif;
    font-weight:700;
    text-align: center;
    font-size: 17pt;
    margin: 10px;
}

.txt p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 13pt;
    margin:30px;
}

footer{
    font-family: 'Outfit', sans-serif;
    position:absolute;
    bottom: 80px;    
}

footer a{
    color: hsl(228, 45%, 44%); 
}
